
<main>
    <div id="main-inner">
        <div class="search-area search-result-area">
            <h2 id="search-title">「<%=@title%>」の検索結果</h2>
            <div id="keyword-search-area">
                <%= form_with url: works_search_path, method: :get, local: true ,id:"search-form" do |form| %>
                    <%= text_field_tag :search,"",{id:"sbox1"} %>
                    <%= submit_tag '検索', :name => nil ,id:"sbtn1"%>
                <% end %>
            </div>
        </div>
        <div id="anime-search-result-area">
            <% @works.each do |work| %>
                <article class="my-anime-article" id="work_<%= work.id %>" >
                    <%= render 'rank', work:work %>
                    
                </article>
            <% end%>
        </div>
    </div>
</main>