<% if my_work %>
    <%user=my_work.who_user(my_work.user_id)%>
    <%if my_work.rank==1%>
        <div class="my-anime-rank-wrapper">
            <div class="my-anime-rank-area">
                <i class="fas fa-crown bronze crown"></i>
                <p class="my-anime-rank">Rank</p>
                <p class="my-anime-rank-result bronze">Bronze</p>
            </div>
            <%if current_user%>
                <%if user.id==current_user.id%>
                    <div class="my_anime_rank_update-area">
                    <i class="fas fa-sync-alt"></i>
                    <%= link_to"/my_page/my_work/gold/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown gold crown"></i><% end %>
                    <%= link_to"/my_page/my_work/silver/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown silver crown"></i><% end %>
                    <%= link_to"/my_page/my_work/delete/#{work.id}", method: "delete",remote: "true" do%><i class="fas fa-trash-alt trash"></i><% end %>
                    </div>  
                <%end%>
            <%end%>
        </div>
    <%elsif my_work.rank==2%>
            <div class="my-anime-rank-wrapper">
                <div class="my-anime-rank-area">
                    <i class="fas fa-crown silver crown"></i>
                    <p class="my-anime-rank">Rank</p>
                    <p class="my-anime-rank-result silver">Silver</p>
                </div>
                <%if current_user%>
                    <%if user.id==current_user.id%>
                        <div class="my_anime_rank_update-area">
                            <i class="fas fa-sync-alt"></i>
                            <%= link_to"/my_page/my_work/gold/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown gold crown"></i><% end %>
                            <%= link_to"/my_page/my_work/bronze/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown bronze crown"></i><% end %>
                            <%= link_to"/my_page/my_work/delete/#{work.id}", method: "delete",remote: "true" do%><i class="fas fa-trash-alt trash"></i><% end %>
                        </div>   
                    <%end%>
                <%end%>
            </div>
    <%elsif my_work.rank==3%>
            <div class="my-anime-rank-wrapper">
                <div class="my-anime-rank-area">
                    <i class="fas fa-crown gold crown"></i>
                    <p class="my-anime-rank">Rank</p>
                    <p class="my-anime-rank-result gold">Gold</p>
                </div>
                <%if current_user%>
                    <%if user.id==current_user.id%>
                        <div class="my_anime_rank_update-area">
                            <i class="fas fa-sync-alt"></i>
                            <%= link_to"/my_page/my_work/silver/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown silver crown"></i><% end %>
                            <%= link_to"/my_page/my_work/bronze/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown bronze crown"></i><% end %>
                            <%= link_to"/my_page/my_work/delete/#{work.id}", method: "delete",remote: "true" do%><i class="fas fa-trash-alt trash"></i><% end %>
                        </div>   
                    <%end%>
                <%end%>
            </div>
    <%end%>
<%else%>
    <div class="my-anime-rank-wrapper">
        <div class="my-anime-rank-area">
            <p class="my-anime-rank">Rank</p>
            <p class="my-anime-none">None</p>
        </div>
        <div class="my_anime_rank_update-area">
            <i class="fas fa-plus "></i>
            <%= link_to"/my_page/my_work/gold/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown gold crown"></i><% end %>
            <%= link_to"/my_page/my_work/silver/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown silver crown"></i><% end %>
            <%= link_to"/my_page/my_work/bronze/#{work.id}", method: "post",remote: "true" do%><i class="fas fa-crown bronze crown"></i><% end %>
        </div> 
    </div>
<%end%>
        <div class="my-anime-text-area">
            <p class="my-anime-title"><%=work.title%></p>
        </div>
        <div class="myanime-season_name_text-area">
            <p class="myanime-season_name_text"><%= work.season_name_text%></p>
        </div>