
        <main>
            <div id="main-inner">
                <div class="search-area search-result-area">
                    <h2 id="search-title">ユーザー検索</h2>
                    <div id="keyword-search-area">
                        <%= form_with url: users_search_path, method: :get, local: true ,id:"search-form" do |form| %>
                            <%= text_field_tag :search,"",{id:"sbox1"} %>
                            <%= submit_tag '検索', :name => nil ,id:"sbtn1"%>
                        <% end %>
                    </div>
                    <p class="test-user"><%= link_to "Animeter開発者とAnimeter!","/animeter/1"%></p>
                </div>
                <div id="user-search-result-area">
                    <h3 class="user-list">User List</h3>
                    <% @users.each do |user| %>
                        <article class="user-article">
                            <%= link_to"/users/#{user.id}" do%>
                                <div class="user-search-result-img-area">
                                    <%= image_tag "#{user.img}" , class: "user-search-result-img"%>
                                </div>
                                <div class="user-search-result-name-area">
                                    <p class="user-search-result-name"><%= user.name %></p>
                                    <p class="user-search-result-id"><%= user.Animeter_id %></p>
                                </div>
                            <% end %>
                        </article>
                    <% end%>
                </div>
            </div>
        </main>
