<main>
    <div id="main-inner">
        <div class="create-form-wrapper">
            <h1>ユーザー新規登録</h1>
            <%= form_with(model: @user, local: true) do |f| %>
                <%= render 'shared/error_messages' %>
                <div class="form-item">
                    <%= f.label :ユーザー名 %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                
                <div class="form-item">
                    <%= f.label :検索用ID %>
                    <%= f.text_field :Animeter_id%>
                </div>

                <div class="form-item">
                    <%= f.label :Email %>
                    <%= f.email_field :mail%>
                </div>

                <div class="form-item">
                    <%= f.label :パスワード %>
                    <%= f.password_field :password%>
                </div>

                <div class="form-item">
                    <%= f.label :password_confirmation, "パスワード（確認）" %>
                    <%= f.password_field :password_confirmation%>
                </div>
                 <div class="button-panel">
                    <%= f.submit "登録", class:"button" %>
                </div>
            <% end %>
        </div>
    </div>
</main>