
<main>
    <div id="main-inner">
        <div class="search-area search-result-area">
            <h2 id="search-title"><%=@user_name%>の検索結果</h2>
            <div id="keyword-search-area">
                <%= form_with url: users_search_path, method: :get, local: true ,id:"search-form" do |form| %>
                    <%= text_field_tag :search,"",{id:"sbox1"} %>
                    <%= submit_tag '検索', :name => nil ,id:"sbtn1"%>
                <% end %>
            </div>
        </div>
        <div id="user-search-result-area">
            <% @users.each do |user| %>
                
                    <article class="user-article">
                        <%= link_to"/users/#{user.id}" do%>
                            <div class="user-search-result-img-area">
                                <%= image_tag 'pexels-photo-177809.jpeg' , class:"user-search-result-img" %>
                            </div>
                            <div class="user-search-result-name-area">
                                <p class="user-search-result-name"><%= user.name %></p>
                                <p class="user-search-result-id"><%= user.Animeter_id %></p>
                            </div>
                        <% end %>
                    </article>
                
            <% end%>
        </div>
    </div>
</main>