
        <main>
            <div id="main-inner">
                <div class="mypage-area">
                    <div class="profile-area">
                        <div class="my-img-area">
                            <%= image_tag "#{@user.img}" , class: "my-img"%>
                        </div>
                        <div class="my-name-area">
                            <p class="my-name"><%= @user.name %></p>
                            <p class="my-id"><%= @user.Animeter_id %></p>
                        </div>
                        <%if current_user%>
                            <%if @user.id==current_user.id%>
                                <div class="profile-btn-area">
                                    <%= link_to "プロフィール編集", "/users/#{@user.id}/edit", class: "profile-btn"%>
                                </div>
                            <%else%>
                                <div class="profile-btn-area">
                                    <%= link_to "Animeterを実行", "/animeter/#{@user.id}", class: "profile-btn"%>
                                </div>
                            <%end%>
                        <%end%>
                    </div>
                    <div class="my-anime-area">
                        <div class="my-anime-area-inner">
                            <div class="tabs">
                                <input id="all" type="radio" name="tab_item" checked>
                                <label class="tab_item" for="all">アニメログ</label>
                                <input id="design" type="radio" name="tab_item">
                                <label class="tab_item" for="design">登録アニメ</label>
                                <div class="tab_content" id="all_content">
                                    <div class="tab_content_description">
                                        <% @my_works_log.each do |my_work_log| %>
                                            <%my_work= my_work_log.whats_work(my_work_log.work_id)%>
                                            <article class="my-animelog-article">
                                                <div class="animelog-name-area">
                                                    <%= image_tag "#{@user.img}" , class: "animelog-my-img"%>
                                                    <p class="my-animelog-my-name"><%= @user.name %></p>
                                                </div>
                                                <div class="animelog-text-area">
                                                    <p class="animelog-anime-title"><%=my_work.title%></p>
                                                    <p class="animelog-register">を登録しました</p>
                                                </div>
                                                <div class="animelog-bottom-area">
                                                    <div class="animelog-rank-area">
                                                        <p class="animelog-rank">Rank</p>
                                                        <%if my_work_log.rank==1%>
                                                            <p class="animelog-rank-name bronze">Bronz</p>
                                                        <%elsif my_work_log.rank==2%>
                                                            <p class="animelog-rank-name silver">Silver</p>
                                                        <%elsif my_work_log.rank==3%>
                                                            <p class="animelog-rank-name gold">Gold</p>
                                                        <%end%>
                                                    </div>
                                                    <div class="animelog-time-area">
                                                        <p class="animelog-time"><%=my_work_log.updated_at.strftime('%Y/%m/%d %H:%M')%></p>
                                                    </div>
                                                </div>
                                            </article>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="tab_content" id="design_content">
                                  <div class="tab_content_description">
                                    <% @my_works.each do |my_work| %>
                                        <%work=my_work.whats_work(my_work.work_id)%>
                                        <article class="my-anime-article" id="my_work_<%= work.id%>" %>
                                                                                        <%= render 'rank', my_work:my_work,work:work %>

                                        </article>
                                    <% end%>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
