        <main>
            <div id="main-inner">
                <div id="top-img">
                    <div id="top-img-inner">
                        <div id="top-text-area">
                            <h2>アニメ好き同士の距離を計ろう</h2>
                            <p>共通して見ているアニメの数は？？</p>
                        </div>
                        <div id="top-img-area">
                            <%= image_tag 'top-img3.png'%>
                        </div>
                    </div>
                    <div id="top-btn-area">
                        <%= link_to "アニメーターを始める", signup_path, class: "top-btn"%>
                    </div>
                </div>
                <div id="introduction">
                    <div id="introduction-inner">
                        <h3>What's <span>Animeter</span> ??</h3>
                        <div id="introduction-article-area">
                            <article id="first-article">
                                <div class="article-img-area" >
                                    <%= image_tag 'tv.png' , id: "tv-img"%>
                                </div>
                                <div class="article-text-area">
                                    <h4>好きなアニメを登録しよう</h4>
                                    <p>好きなアニメを登録しましょう。ゴールド・シルバー・ブロンズの順に好きな度合いを変更して登録できます。</p>
                                </div>
                            </article>
                            <article>
                                <div class="article-img-area">
                                    <%= image_tag 'socialdistance_simple.png' , id: "distance-img"%>
                                </div>
                                <div class="article-text-area">
                                    <h4>初対面のあの人と共通のアニメを探そう</h4>
                                    <p>就職・進学・プライベートで初めて知り合ったアニメ好きとお互いの好きなアニメをマッチングし、二人の距離感を判定できます。共通のアニメの話題で盛り上がりましょう！</p>
                                </div>
                            </article>
                            <article>
                                <div class="article-img-area">
                                    <%= image_tag 'operation_smartphone_simple.png'%>
                                </div>
                                <div class="article-text-area">
                                    <h4>SNS用の自己紹介に使おう</h4>
                                    <p>SNSのプロフィールページにAnimeterのIDを記載しておけば、あなたがどんなアニメが好きかをみんなに発信できます。</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>

