<!DOCTYPE html>
<html>
    <head>
        <title>Animeter</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%=csrf_meta_tags%>
    </head>
    <body>
        <header>
            <div id="header-inner">
                <h1 ><%= image_tag 'ロゴ３.png' , id: "header-logo"%></h1>
                <nav id="header-nav">
                    <ul id="header-ul">
                        <% if logged_in? %>
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to "Settings", '#' %></li>
                        <% else %>
                            <li >新規登録</li>
                            <%= link_to "ログイン", signup_path, class: "btn btn--orange" , id: "header-li"%>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </header>
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <footer>
            <div id="footer-pc">
                <p>©︎2021Animeter</p>
            </div>
            <div id="footer-sp">
                <div class="footer-sp-inner">
                    
                </div>
            </div>
        </footer>

        <%= debug(params) if Rails.env.development? %>

    </body>
</html>

